# Dependencies
node_modules

# Build output
dist

# Environment
.env
!.env.example

# IDE / OS
.vscode
.idea
.DS_Store

# Logs
*.log

dist-ssr
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/src/generated/

.agents
.claude
.windsurf
skills-lock.json